.friends {
  position: relative;
  width: 100%;
  padding-top: 65px;
  background-color: $backgroung-color2;
  text-align: center;
}

.friends__wrapper {
  @include desktop-container;
}

.friends__title {
  max-width: 430px;

  margin: 0 auto;
  margin-bottom: 65px;
  padding: 0;
  
  color: $color2;
  font-family: $font-family2;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}

.friends__list {
  max-width: 910px;
  margin: 0 auto;
  margin-bottom: 70px;

  padding: 0;

  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.friends__item {
  text-align: center;
  background-color: $backgroung-color1;

  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(0,0,0,0.04);
  }
}

.friends__img {
  margin-bottom: 10px;
}

.friends__name {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  color: $color2;
  font-family: $font-family2;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.06em;
}

.friends__button {
  background-color: $backgroung-color1;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    background-color: $color1;
  }
}

.friends__know {
  display: inline-block;
  margin-bottom: 65px;
  border: none;
}