.main-header {
  width: 100%;
  min-height: 934px;
	margin: 0;
	padding: 0;
  padding-top: 60px;

	background-color: $backgroung-color3;
	background-image: 
		url("../img/main-dog.png"),
		url("../img/background-gradient.png");
	background-repeat: 
		no-repeat,
		repeat;
	background-position: 
    100% 100%,
    0 0;
}

.main-header__wrapper {
	@include desktop-container;
}

.main-header__menu {
  margin-bottom: 233px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.main-header__title {
	margin: 0;
	padding: 0;

  color: $color1;
  font-family: $font-family2;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.06em;
}

.main-header__text {
  margin: 0;
  padding: 0;

  color: $white;
  font-size: 13px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.1em;
}

.main-header__list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.main-header__item {
  margin-left: 37px;
}

.main-header__link {
  padding-bottom: 5px;
  font-size: $fontsize;
  line-height: 29px;
  color: $gray;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white;
    border-bottom: 3px solid $color1;
  }
}