// width
$desktop-width: 1170px;
// color
$color1: #f1cdb3;
$color2: #545454;
$backgroung-color1: #fafafa;
$backgroung-color2: #f6f6f6;
$backgroung-color3: #44372f;
$white: #ffffff;
$black: #000000;
$gray: #cdcdcd;
// text
$font-family1: "Arial", sans-serif;
$font-family2: "Georgia", "Arial", sans-serif;
$fontsize: 15px;